.item-comentario-container {
    /* background-color: #c2e0f4; */
    background-color: #1c1c1c   ;
    color: #e0e0e0   ;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 4px;
}

.item-comentario-container .datetime{
    color: #727272;
    font-size: 0.7rem;
}